@import "../../node_modules/maplibre-gl/dist/maplibre-gl.css";
@import "../../node_modules/@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css";

#map {
  background-color: #dddddd;
  height: 100vh;
  width: 100%;
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right {
  top: 60px;
}

.maplibregl-ctrl-attrib {
  background-color: var(--bg-color-map-transparant) !important;
  color: var(--text-color-map-transparant) !important;

  a {
    color: var(--text-color-map-transparant) !important;
  }
}

.maplibregl-ctrl-scale {
  background-color: var(--bg-color-map-transparant) !important;
  color: var(--text-color-map-transparant) !important;
  border-color: var(--border-color-map);
}

.maplibregl-ctrl-group {
  background-color: var(--bg-color-map-solid) !important;

  button > span {
    filter: var(--button-invert-map);
  }
}

.maplibregl-ctrl-geocoder {
  background-color: var(--bg-color-map-solid) !important;

  svg {
    fill: var(--text-color-map-solid);
  }

  input {
    color: var(--text-color-map-transparant);

    &:focus {
      color: var(--text-color-map-solid);
    }
  }

  .suggestions {
    background-color: var(--bg-color-map-solid) !important;

    .active > a,
    li > a:hover {
      background-color: var(--bg-color);
    }
  }
}

.maplibregl-ctrl-geocoder--suggestion-title,
.maplibregl-ctrl-geocoder--suggestion-address {
  color: var(--text-color-map-transparant) !important;
}

.maplibregl-ctrl-geocoder--button {
  // This removes the white background color of the button
  background-color: rgba(0, 0, 0, 0);
}
